<%- include('header') %>
<title>Sensive | Contact</title>
<h1>Contacto</h1>
<div class="box-contact">
    <div class="contact-items">
        <ul>
            <li>

              <img src="/img/icon1.png" class="icons" alt="">
              <p >California United States</p>
              <p class="small">Santa monica bullevard</p>
            
            </li>
            <li>
              <img src="/img/img3.png" class="icons" alt="">
              <p >00 (44) 9865 562</p>
              <p class="small">Mon to Fri 9am to 6pm </p>
            
            </li>
            <li>
              <img src="/img/icon3.jpg" class="icons" alt="">
              <p >support@colorlib.com</p>
              <p class="small">Send us your query anytime!</p>
            
            </li>
          
        </ul>
    </div>
    <div class="contact-items">
        <form method="POST" action="/contacts">
           
            <input type="text" id="name" name="name" placeholder="Enter your name"><br>
          
            <input type="email" id="email" name="email" placeholder="Enter your email" required><br>
          
            <input type="text" id="subject" name="subject" placeholder="Enter your subject"><br>
          </div>
          <div class="contact-items">
          
            <textarea id="message" name="message" placeholder="Enter your message" required></textarea><br>
          
            <button type="submit" class="boton btn-contact">SEND MESSAGE</button>
          </form>
          
        </div>
</div>

<%- include('footer') %>