<!-- /**
 * Página de confirmación de formulario.
 * @module confirmationPage
 */ -->

<%- include('./layouts/header') %>


<p class="msg-confirm">El FORMULARIO ENVIADO CON ÉXITO</p>
<p class="msg-confirm">Revisa tu bandeja de entrada</p>

<%- include('./layouts/footer') %>
