<!-- /**
 * Encabezado y estructura principal de una página web.
 * @module header
 */ -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/logo (1).ico">
    .
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/" class="enlace">
            <p class="logo-web">Sensive</p>
        </a>
        <ul>
            <li><a href="/" class="nav-link <%= activePath === '/' ? 'active' : '' %>">Home</a></li>
            <li><a href="/tos" class="nav-link <%= activePath === '/tos' ? 'active' : '' %>">ToS</a></li>
            <li><a href="/contacts" class="nav-link <%= activePath === '/contacts' ? 'active' : '' %>">Contacto</a></li>
        </ul>
    </nav>
    <div class="container">